In [1]:
import pandas as pd

Please reference [this link](https://www.goodmedicine.org.uk/files/assessment,%20pittsburgh%20psqi.pdf) for scoring details.

## Response Scoring Example

### Form A

In [6]:
example_response_data = pd.read_csv("./responses/form_a_example_responses.csv")
example_response_data = example_response_data.set_axis(
    [
        "timestamp", "participant_ID", "participant_gender", "participant_age", "participant_occupation",
        "q1", "q2", "q3", "q4", "q5a", "q5b", "q5c", "q5d", "q5e", "q5f", "q5g", "q5h", "q5i", "q5j", "q5_freq",
        "q6", "q7", "q8", "q9"
    ],
    axis=1
)
example_response_data

,timestamp,participant_ID,participant_gender,participant_age,participant_occupation,q1,q2,q3,q4,q5a,...,q5f,q5g,q5h,q5i,q5j,q5_freq,q6,q7,q8,q9
0,10/19/2023 16:21:11,22-T-09-JKT,Female,20,Undergraduate Student,1:00:00 AM,20,9:00:00 AM,6,Once or twice a week,...,Not during the past month,Not during the past month,Less than once a week,Once or twice a week,NaN,NaN,Fairly good,Not during the past month,Less than once a week,Only a very slight problem
1,10/19/2023 16:41:48,22-C-17-JAK,Male,21,Undergraduate Student,1:00:00 AM,30,10:00:00 AM,7-8,Less than once a week,...,Not during the past month,Not during the past month,Once or twice a week,Not during the past month,NaN,Less than once a week,Fairly good,Not during the past month,Not during the past month,Only a very slight problem
2,10/19/2023 17:57:05,22-K-06-JAK,Female,21,Undergraduate Student,2:30:00 AM,30,10:00:00 AM,7,Once or twice a week,...,Not during the past month,Three or more times a week,Once or twice a week,Less than once a week,NaN,NaN,Fairly good,Not during the past month,Not during the past month,A very big problem
3,10/19/2023 18:28:55,22-J-13-SUR,Female,21,Undergraduate Student,12:00:00 PM,20,6:20:00 AM,6,Once or twice a week,...,Not during the past month,Not during the past month,Less than once a week,Not during the past month,NaN,Once or twice a week,Fairly good,Not during the past month,Not during the past month,No problem at all
4,10/19/2023 20:25:49,22-M-24-LOS,Female,21,Undergraduate Student,2:00:00 AM,30,10:00:00 AM,7,Three or more times a week,...,Less than once a week,Once or twice a week,Not during the past month,Not during the past month,NaN,NaN,Fairly good,Not during the past month,Not during the past month,Only a very slight problem
5,10/23/2023 22:09:37,23-C-23-TOR,Female,22,Undergraduate Student,12:30:00 AM,60-80,8:00:00 AM,6-7.5,Once or twice a week,...,Once or twice a week,Less than once a week,Not during the past month,Less than once a week,NaN,NaN,Fairly good,Not during the past month,Less than once a week,Somewhat of a problem
6,10/25/2023 22:36:17,NaN,Female,22,Undergraduate Student,1:00:00 AM,10,11:00:00 AM,9 hours,Not during the past month,...,Less than once a week,Not during the past month,Not during the past month,Not during the past month,NaN,Not during the past month,Fairly good,Not during the past month,Not during the past month,Somewhat of a problem
7,10/25/2023 22:36:58,NaN,Female,22,Undergraduate Student,2:30:00 AM,15,9:00:00 AM,7,Not during the past month,...,Not during the past month,Not during the past month,Not during the past month,Not during the past month,NaN,NaN,Fairly good,Not during the past month,Less than once a week,Only a very slight problem
8,10/25/2023 22:45:49,NaN,Male,22,Undergraduate Student,11:00:00 PM,420 minutes,9:00:00 AM,420 min,Once or twice a week,...,Not during the past month,Not during the past month,Less than once a week,Not during the past month,NaN,Not during the past month,Fairly good,Not during the past month,Not during the past month,No problem at all
9,10/25/2023 22:46:54,23-M-,Male,21,Undergraduate Student,12:00:00 AM,7,8:30:00 AM,8,Not during the past month,...,Less than once a week,Less than once a week,Once or twice a week,Not during the past month,nothing,Not during the past month,Fairly good,Not during the past month,Not during the past month,No problem at all